
.add{
    width:70%;
    margin-left: 100px;
    margin-top: 80px;
    font-size: 15px;
    margin-bottom: 50px;
}

.add form{
    gap:20px;
}

.add-image-upload img{
width:80px;
cursor: pointer;
}
.add-product-name, .add-product-description{
   width:max(40%,280px); 
   display: flex;
}
  
  .add-product-name input,
  .add-product-description textarea,
  .add-price input,
  .add-category select {
    width:  max(40%,280px);
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
 
  .add-category-price select,.add-category-price input{
    width:180px;
    padding:10px;
  }
  .add-button {
    background-color: #fd943e;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    width:120px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .add-button:hover {
    background-color: #0056b3;
  }
  